<a href="/pages/current/game/{{id}}">
    <div id="allGamesBox" class="container">
        <div class="allGamesTeamsBox">
            <div id="allGamesAway" class="allGamesRow">
                <p>{{awayName}}</p>
                <p class="gameScore">{{awayScore}}</p>
            </div>
            <div id="allGamesHome" class="allGamesRow">
                <p>{{homeName}}</p>
                <p class="gameScore">{{homeScore}}</p>
            </div>
        </div>
        <p class="gameStatus">{{status}}</p>
    </div>
</a>